language: node_js
node_js:
  - 10

install: npm install

jobs:
  include:
    - stage: lint
      script: npm run lint
    - stage: tests
      script: npm run test:requesthandlers

cache:
  directories:
    - node_modules
