version: '3'

services:
  app:
    build: ./app
    ports:
      - 3000:3000
    environment:
      - PORT=3000
      - REDIS_URL=redis://redis
    depends_on:
      - redis
    container_name: app
    restart: always

  redis:
    image: redis:alpine
    container_name: redis
    restart: always
