<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <meta name="title" content="SourceBin">
  <meta name="description" content="Free text/code sharing site supporting 450+ different languages!">

  <meta name="og:title" content="SourceBin">
  <meta name="og:description" content="Free text/code sharing site supporting 450+ different languages!">
  <meta name="theme-color" content="#FF5555">
  <!-- <meta name="og:url" content=""> -->
  <!-- <meta name="og:image" content=""> -->

  <title>SourceBin | Profile</title>

  <!-- CSS -->
  <link rel="stylesheet" href="./assets/profile/account/master.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet">
</head>

<body>
  <div class="account">
    <div class="info">
      <img src="https://cdn.discordapp.com/avatars/<% avatar %>?size=256" draggable="false">
      <p>Username:
        <% username %>
      </p>
      <p>ID:
        <% id %>
      </p>
    </div>
    <div class="buttons">
      <button onclick="window.open('/', '_self')">Go back</button>
      <button onclick="window.open('/logout', '_self')">Logout</button>
    </div>
  </div>

  <div class="bins">
    <h1>Your bins: <span id="bin_amount"></span></h1>
    <div id="bins"></div>
  </div>

  <script>
    (() => {
      const bins = <% bins %>;
      document.getElementById('bin_amount').innerHTML = bins.length;

      for (const bin of bins.sort()) {
        const div = document.createElement('div');
        div.innerHTML = bin;
        div.key = bin;
        div.addEventListener('click', event => {
          if (event.target !== div) return;
          window.open(event.target.key, '_self');
        });
        document.getElementById('bins').appendChild(div);

        const span = document.createElement('span');
        span.innerHTML = 'X';
        span.addEventListener('click', async event => {
          const key = event.target.parentElement.key;
          const response = await request('delete', '/bin', key);
          if (response.message) {
            div.parentNode.removeChild(div);
            document.getElementById('bin_amount').innerHTML -= 1;
          }
        });
        div.appendChild(span);
      }

      function request(method, url, body = null) {
        return new Promise(resolve => {
          const xhttp = new XMLHttpRequest();
          xhttp.addEventListener('readystatechange', () => {
            if (xhttp.readyState !== 4) return;
            const response = JSON.parse(xhttp.response);
            if (xhttp.status === 200) resolve(response);
          });
          xhttp.open(method.toUpperCase(), url, true);
          xhttp.send(body);
        });
      }
    })();

  </script>
</body>

</html>
