* {
  margin: 0;
  padding: 0;
}

:root {
  --background: #282a2e;
  --background-light: #3D3F42;
  --white: #d7dae0;
  --blurple: #7289DA;
}

body, html {
  background-color: var(--background);
  color: var(--white);
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  overflow-y: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.account {
  margin: 25px;
  display: grid;
  grid-template-rows: 1fr 100px;
  background-color: var(--background-light);
}

.info {
  padding: 50px;
}

img {
  display: block;
  margin: 0 auto 40px;
  border-radius: 50%;
}

p {
  text-align: center;
  font-size: 1.5em;
}

.buttons {
  display: block;
  margin: 0 auto;
}

button {
  background-color: var(--blurple);
  color: #FFF;
  border: none;
  margin: 0 10px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  width: 150px;
  user-select: none;
}

.bins {
  margin: 25px;
  padding: 50px;
  background-color: var(--background-light);
}

.bins h1 {
  user-select: none;
  cursor: default;
  padding-bottom: 10px;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--white);
  text-align: center;
}

#bins {
  overflow-y: auto;
  height: 65vh;
  padding: 10px;
}

#bins div {
  font-size: 1.5em;
  padding: 10px 20px;
  margin: 20px 0;
  background-color: var(--background);
  user-select: none;
  cursor: pointer;
}

#bins div span {
  float: right;
  background-color: #F55;
  color: var(--background);
  padding: 0 7.5px;
  border-radius: 50%;
}
