.popup {
  position: absolute;
  bottom: 30px;
  right: 30px;
  z-index: 100;
  width: auto;
  height: auto;
  max-width: 500px;
  padding: 10px 15px;
  border-radius: 5px;
  color: rgba(255, 255, 255, .9);
  background-color: #424242;
  user-select: none;
  cursor: pointer;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
