@import './_globals.scss';

.toasted.toasted-primary {
  font-family: $font-family;

  &.success {
    background-color: $green !important;
    color: rgba($black, 0.9);
  }

  &.error {
    background-color: $red !important;
    color: rgba($white, 0.9);
  }
}
