/* stylelint-disable custom-property-empty-line-before */

@import 'sass-mq';
@import './_variables.scss';

html {
  --background-primary: #{$gray-800};
  --background-secondary: #{$gray-900};
  --background-tertiary: #{$gray-700};

  --background-modifier-hover: #{rgba($gray-600, 0.2)};
  --background-modifier-accent: #{rgba($white-900, 0.05)};

  --text-900: #{$white-800};
  --text-800: #{$white-700};
  --text-700: #{$white-600};
  --text-600: #{$white-500};

  --font-family: 'Roboto', sans-serif;
  --editor-font-family: monospace;

  --font-size-header: 32px;
  --font-size-large: 25px;
  --font-size-big: 17px;
  --font-size-regular: 15px;
  --font-size-small: 13px;

  --margin-side: 30px;
  --margin-between: 15px;

  @include mq($until: tablet) {
    --font-size-header: 25px;
    --font-size-large: 18px;
    --font-size-big: 15px;
    --font-size-regular: 13px;
    --font-size-small: 10px;

    --margin-side: 10px;
    --margin-between: 10px;
  }
}
