$fonts: 'Fantasque Sans Mono',
  'Fira Code',
  'Hack',
  'Inconsolata',
  'JetBrains Mono',
  'Roboto Mono',
  'Source Code Pro',
  'Sudo',
  'Ubuntu Mono';

@each $font in $fonts {
  @font-face {
    font-family: $font;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src:
      local($font),
      url('./#{$font}/Regular.woff2') format('woff2'),
      url('./#{$font}/Regular.woff') format('woff');
  }
}
