* {
  margin: 0;
  padding: 0;
}

body, html {
  background-color: #282a2e;
  color: #d7dae0;
  width: 100vw;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  text-align: center;
}

h1 {
  margin: 20px;
  font-size: 3.5em;
}

p {
  font-size: 1.5em;
}

a {
  color: #7289DA;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
